<!DOCTYPE html>
<html>
  <head>
    <title>Lazy Mails</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Lazy Mails</h1>
    <p>Welcome to Lazy Mails</p>

    <p>Project members:</p>
    <ul>
      <li>Yingchen Liu</li>
      <li>Qiuxian Cai</li>
    </ul>
  </body>
</html>
