<!DOCTYPE html>
<html>
  <head>
    <title>Users - Lazy Mails</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css' />
    <style>
      body {
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <div class="ui secondary pointing menu">
      <a class="item" href="/">
        Home
      </a>
      <a class="item" href="/admin/mailboxes">
        Mailboxes
      </a>
      <a class="active item" href="/admin/users">
        Users
      </a>
    </div>

    <h1>Users</h1>
    
    <table class="ui celled padded table">
      <thead>
        <tr>
          <th class="single line">ID</th>
          <th>Email</th>
          <th>Mailbox</th>
        </tr>
      </thead>
      <tbody>
        <% users.map((user) => {
          %>
          <tr>
            <td><%= user._id %></td>
            <td><%= user.email %></td>
            <td><a href="/admin/mailboxes/<%= user.mailbox %>/mails"><%= user.mailbox %></a></td>
          </tr>
          <%
        }) %>
      </tbody>
    </table>
  </body>
</html>

